{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'about.css' %}">
    <title>about</title>
</head>
<body>
    {% include 'header.html' %}

    <div class="profile">
        <h3>About</h3>
        <p>I am temesgen abebayehu at aastu and currently i am attending software engineerin cource.</p>
        <p>telegram</p>
        <p>fecebook</p>
        <p>instagram</p>
        <p>x/tiwiter</p>
        <p>tiktik</p>
        <p>youtube</p>
    </div>

    {% include 'footer.html' %}
</body>
</html>