
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'contact.css' %}">
    <title>contact</title>
</head>
<body>
    {% include 'header.html' %}

    <form action="#" method="post">
        {% csrf_token %}
        <p>Name:</p>
        <input type="text" name="name">
        <p>Email:</p>
        <input type="email" name="email">
        <p>Message:</p>
        <textarea name="message"></textarea><br><br>
        <input type="submit" value="Send">
    </form>

    {% include 'footer.html' %}
</body>
</html>