{% load static %}
<head>
  <link rel="stylesheet" href="{% static 'header.css' %}">
</head>

<header>
    <div class="logo">
        <a href="/"><h3>Code With Temesgen</h3></a>
    </div>
    <div class="navbar">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
        {% if user.is_authenticated %}
        <b>Welcome, {{user.username}}</b>
        <a class="btn" href="/logout">Logout</a>
        {% else %}
        <a class="btn" href="/login">Login/register</a>    
        {% endif %}    
    </div>
</header>